/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
} */

.gioithieu{
    width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.gioithieu .letrai {
    position: absolute;
    width: 400px; 
    height: 300px;
    color: #1a1616; 
    text-align: left; 
    position: absolute; 
    top: 35%;
    left: 20%; 
    transform: translate(-50%, -50%); 
}

.letrai h3, h1, p{
    margin-bottom: 20px;
}
.letrai h3{
    font-size: 25px;
    color: rgb(4, 105, 4);
}
.letrai h1{
    font-size: 45px;
    color: black;
}
.letrai p{
    font-size: 18px;
    color:black;
}


/* nút bấm */
.btngt{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(74, 214, 74); /* Màu xanh sáng */
    color: #fff; /* Màu chữ trắng */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển màu */
}
.btngt:hover {
    background-color: #1a3b1e; /* Màu nền trắng khi di chuột vào */
}


/* cỡ chữ và màu chung trong các giấy nhớ */
.giaynho h3, p{
    color: white;
}
.giaynho h3{
    font-size: 25px;
}
.giaynho p {
    font-size: 18px;
}
.giaynho {
    background-color: #56cf3e;
}


#nhott {
    width: 240px; 
    height: 210px;
    top: 10%; 
    left: 40%; 
    position: absolute; /* Đặt vị trí tương đối để sử dụng transform */
}

#nhopt {
    width: 250px; 
    height: 200px;
    top: 10%; 
    right: 13%; 
    position: absolute;
}
#nhotd {
    width: 250px; 
    height: 190px;
    top: 57%; 
    left: 40%; 
    position: absolute; 
}

#nhopd {
    width: 250px; 
    height: 205px;
    top: 57%; 
    right: 13%; 
    position: absolute;
}
