a{
    color:white;
}
ol,ul,dl {
    padding-left: 0;
    margin: 0;
}

#header h2, p{
    margin: 0 !important; 
}
li{
    
}
.top-bar {
    background-color: #7dc642;
    color: white;
    padding: 0 15px;
    font-size: 15px;
    margin:0;
    
  }
 .contact-info{
    margin-left:160px;
    font-family: "Open Sans", sans-serif;
  }
  .contact-info ul {
    margin-bottom: 0;
  }
 .contact-info li svg{
    vertical-align: middle;
    margin-right: 5px;
}
 .contact-info ul {
    list-style-type: none;
    
  }
.contact-info li{
    font-weight: 600;
    display:inline-block;
    line-height: 42px;
    margin-right: 50px; 
}
 .contact{
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
 .contact:hover{
    color:rgb(249, 104, 0);
}
#main-header{ 
    background-color: #151f2d;
    display: flex;
    justify-content: center;   
    height: 92px;
    margin:0;
}
#container{
    display: flex;
    align-items: center;
    /* padding:6px 0px; */
    justify-content: space-between;
    width: 1200px;

}
.search{
    margin-left:200px;
}
.search input{
    padding-left:7px;
    background-color: #f4f0f0;
    height: 28px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    border:none;
    font-size: inherit;
}
.search a{
    margin-left: 10px;
}
#container img{
    width: 90px;
    height: 75px;
    
}
#main-menu {

    list-style-type: none; 
    display:flex;
    font-family: "Signika",sans-serif;
    font-weight: 600;
    line-height: 30px;
    font-size: 17px;
}
#main-menu >li{
    position: relative;
    margin-left: 30px;
    line-height: 92px;
}
#main-menu li:hover .sp-menu{
    visibility: visible;
    opacity: 100;
    margin-top:0px;
}


#main-menu a{
    color:white;
    text-decoration: none;
    transition: 0.3s;
    
}
.sp-menu {
    margin-top:20px;
    position: absolute;
    background:#151f2d ;
    padding:0px;
    list-style-type: none;
    width: 130px;
    left:-15px;
    visibility: hidden;
    opacity: 0;
    border:1px solid #565454;  
    line-height: 30px; 
    transition: 0.4s;
}

.sp-menu li{
    padding:8px 15px;
    border-bottom:1px solid #565454  ;
    transition: 0.5s;
}

#main-menu li:hover >a{
    color:#7dc642;
}
.sp-menu li:hover {
    border-bottom:1px solid #c1bfbf  ;
}
#header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}
