 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
} 

.quotes{
width: 100%;
height: 600px;
margin: auto;
    position: relative;
    overflow: hidden;
}

#bgquotes{
    width: 100%;
height: 600px;
margin: auto;
    position: absolute;
    overflow: hidden;
}
/* còn cách khác để set bg to vừa vặn vs màn hình như này? */

.quotes .ctquotes{
    position: absolute;
    top: 0px;
    left: 80px;
    height: 100%;
    display: flex;
    width: max-content;
}

.ctkol{
    top: 15px;
    left: 35px;
    width: 55%;
 padding: 0;
 margin: 0;
 background-color: #1abc9c;
}

#anhto{
    width: 400px;
    height: 500px;
}

#nhaykep{
    width: 90px;
    height: 100px;
}

#anhnho{
    width: 90px;
    height: 100px;
}



